.search-movie {
    display: flex;
    align-items: center;
}


.search-movie__background {
    background-color: #424242;
}

.search-movie__img{
    width: 146px;
    height: 76px;
}

.search-movie__play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin: 0 auto;
}